@import "variables"
@import "fonts"
@import "mixins"
html
  body
    width: 100%
    overflow-x: hidden
    *
      font-family: $font
      box-sizing: border-box
    h1,h2,h3,h4,h5,h6
      font-family: $font_header
    a
      color: $primary
      text-decoration: none
      &:hover
        color: $primary_hover
        text-decoration: underline

    .modern_dropdown_new
      background: transparent
      display: flex
      justify-content: center
      align-items: center
      .dropdown-menu
        background-clip: padding-box
        border: 0!important
        border-radius: 0
        margin-top: 8px
      .dropdown-toggle
        display: flex
        justify-content: center
        align-items: center
        border: 0
        background: transparent!important
        border-radius: 0
        color: #ffffff
        font-weight: bold
        padding: 0 0 0 15px
        line-height: 1.5
        text-transform: uppercase
    .modern_dropdown
      background: transparent
      .dropdown-toggle
        border: 0px
        background: transparent!important
        width: 35px
        height: 35px
        padding: 7px 5px 3px
        border-radius: 0
        &::after
          display: inline-block
          margin-left: 0
          vertical-align: 0
          content: ""
          width: 100%
          height: 100%
          background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 384.97 384.97' style='enable-background:new 0 0 384.97 384.97;' xml:space='preserve'%3E%3Cg%3E%3Cg id='Menu'%3E%3Cpath fill='%23fff' d='M12.03,84.212h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03 C5.39,60.152,0,65.541,0,72.182C0,78.823,5.39,84.212,12.03,84.212z'/%3E%3Cpath fill='%23fff' d='M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03 S379.58,180.455,372.939,180.455z'/%3E%3Cpath fill='%23fff' d='M372.939,300.758H12.03c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h360.909 c6.641,0,12.03-5.39,12.03-12.03C384.97,306.147,379.58,300.758,372.939,300.758z'/%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A")
          background-repeat: no-repeat
          background-position: center
          border-top: 0
          border-right: 0
          border-bottom: 0
          border-left: 0
          transition: 0.3s
      .dropdown-toggle[aria-expanded="true"]
          &::after
            background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490 490' style='enable-background:new 0 0 490 490;' xml:space='preserve'%3E%3Cpolygon fill='%23fff' points='456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490 489.292,457.678 277.331,245.004 489.292,32.337 '/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A")
            transition: 0.3s
      .dropdown-menu
        background-clip: padding-box
        border: 0!important
        border-radius: 0
    .form-controler
      background: transparent
      color: #ffffff
      border: 0
      border-radius: 0
      border-bottom: 2px solid $primary
      min-height: 40px
      width: 100%
      &:focus, &:active
        background: transparent
        color: #ffffff
    a.btn.main, button.btn.main
      background: $primary
      color: #fff
      margin: 2px 0
      border: 3px solid $primary
      transition: 0.3s
      &.slim
        padding: 1px 10px
      &:before
        margin-right: 5px
      &:hover
        background: $primary_hover
        border: 3px solid $primary_hover
        transition: 0.3s
        color: #fff
    a.btn.sec, button.btn.sec
      background: $primary_hover
      color: #fff
      margin: 2px 0
      border: 3px solid $primary_hover
      transition: 0.3s
      &.slim
        padding: 1px 10px
      &:before
        margin-right: 5px
      &:hover
        background: $primary
        border: 3px solid $primary
        transition: 0.3s
        color: #fff
    a.btn.cancel
      background: #fff
      color: $primary
      margin: 2px 0
      transition: 0.3s
      border: 3px solid $primary
      &:before
        margin-right: 5px
      &:hover
        background: $primary_hover
        border: 3px solid $primary_hover
        transition: 0.3s
        color: #fff
    .menu-item
      background: $primary
      color: #fff
      transition: 0.3s
      cursor: pointer
      padding: 7px 10px
      @media screen and (max-width: 991px)
        margin: 1px 0
      &:hover
        background: $primary_hover
        transition: 0.3s
        color: #fff
  .menu-modal
    li
      color: $primary
      transition: 0.3s
      font-size: 12px
      line-height: 12px
      cursor: pointer
      &.active
        transition: 0.3s
        color: $primary_hover
      &:hover
        transition: 0.3s
        color: $primary_hover
  .vdatetime-popup__header
    padding: 18px 30px
    color: #fff
    font-size: 32px
    background: $primary!important
  .vdatetime-calendar__month__day--selected > span > span, .vdatetime-calendar__month__day--selected:hover > span > span
    color: #fff
    background: $primary!important
  .vdatetime-popup__actions__button
    display: inline-block
    border: none
    padding: 10px 20px
    background: transparent
    font-size: 16px
    color: $primary!important
    cursor: pointer
    transition: color .3s
  .vdatetime-time-picker__item--selected
    color: $primary!important
    font-size: 32px
  .carousel-indicators li
    box-sizing: content-box
    flex: 0 1 auto
    width: 10px
    height: 10px
    margin-right: 3px
    margin-left: 3px
    text-indent: -999px
    cursor: pointer
    border: 1px solid $primary
    border-radius: 50px
    background-color: #fff
    background-clip: padding-box
    opacity: 1
    transition: opacity 0.6s ease
    &.active
      background-color: $primary
  .custom-control-input:focus:not(:checked) ~ .custom-control-label::before
    border-color: $primary
  .custom-control-input:focus ~ .custom-control-label::before
    box-shadow: 0 0 0 0 transparent
  .w-10
    width: 50px
    margin-right: 10px
  .lp-checkbox
    label
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      font-family: "Roboto", sans-serif
      padding-left: 5px
      word-break: break-word
      cursor: pointer
      .name
        display: flex
        flex-direction: row
        justify-content: flex-start
        align-items: center
  .custom-control-label
    position: relative
    margin-bottom: 0
    vertical-align: top
    width: auto
    @media screen and (max-width: 955px)
      width: auto
    @media screen and (max-width: 500px)
      width: 200px
    @media screen and (max-width: 375px)
      width: 170px
  .form-control:focus, .custom-select:focus
    color: #495057
    background-color: #fff
    border-color: $primary
    outline: 0
    box-shadow: 0 0 0 0 transparent
  .custom-control-label::before
    position: absolute
    top: 0.15rem
    left: -1.5rem
    display: block
    width: 1.25rem
    height: 1.25rem
    pointer-events: none
    content: ""
    background-color: #fff
    border: #adb5bd solid 1px
  .custom-radio
    .custom-control-label
      padding: 0 5px
      &::before
        border-radius: 50%
        margin-right: 10px
  .custom-control-label::after
    position: absolute
    top: 0
    left: -1.65rem
    display: block
    width: 1.50rem
    height: 1.50rem
    content: ""
    background: no-repeat 50% / 50% 50%
  .custom-control-input:checked ~ .custom-control-label::before
    color: #fff
    border-color: $primary
    background-color: $primary
  .custom-checkbox .custom-control-input:disabled:checked ~ .custom-control-label::before
    background-color: rgba(108, 111, 112, 0.5)
  .features-small
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 5px 10px
    .features-list-block
      width: 50%
      span
        justify-content: flex-start!important
  .features-list-icos
    list-style: none
    .features-list-block
      margin: 10px 0
      display: flex
      align-items: center
      justify-content: flex-start
      min-height: 50px
      @media screen and (max-width: 480px)
        margin: 0
      span
        font-family: $font
        font-style: normal
        font-weight: 300
        font-size: 16px
        line-height: 16px
        display: flex
        justify-content: flex-start
        align-items: center
        &:before
          font-size: 24px
          display: inline-block
          float: left
          margin-right: 10px
          color: $primary
        &.bag
          &:before
            content: '\E808'
            font-family: $f-icons
        &.pass
          &:before
            content: '\E81A'
            font-family: $f-icons
        &.dors
          &:before
            content: '\E807'
            font-family: $f-icons
        &.temp
          &:before
            content: '\E804'
            font-family: $f-icons
        &.benz
          &:before
            content: '\E801'
            font-family: $f-icons-n
        &.gear
          &:before
            content: '\E819'
            font-family: $f-icons
span.blues
  background: #0039A6
span.green
  background: #38A61D
span.red
  background: #868DD5
span.orange
  background: #F89406
span.blood
  background: #d50000
span.cargo
  background: #d50000
span.rec
  background: #8962b9
span.eco
  background: #67d50a
span.none
  background: #0039A6

hr.dashed
  border-top: 1px dashed #808080

*:focus
  outline: none
.page-item.active .page-link
  z-index: 3
  color: #fff
  background-color: $primary
  border-color: $primary
.page-link
  position: relative
  display: block
  padding: 0.5rem 0.75rem
  margin-left: -1px
  line-height: 1.25
  color: $primary
  background-color: #fff
  border: 1px solid #dee2e6
.page-link:hover
  z-index: 2
  color: #fff
  text-decoration: none
  background-color: $primary_hover
  border-color: $primary_hover
p.ci-text
  font-size: 14px
.inform
  *
    margin-bottom: 0
@import "media"
